:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196F3;
    --background-white-color: #FFFFFF;
}

body {
    background-color: #FFFFFF;
    color: var(--primary-text-color);
    font-family: Roboto; sans-serif;
}

.list {
    list-style: none;
}

.logo {
    font-family: Raleway;
    color: var(--accent-color);
    text-decoration: none;
}
.logo:hover,
.logo:focus {

}
.site-nav {
    color:var(--primary-text-color);
}
.site-nav .studio {
    color: var(--primary-text-color);
}
.link {
    text-decoration: none;
    color: var(--primary-text-color);
}

.link:hover,
.link:focus {
    color: var(--accent-color);
}

.contacts .link {
    color: var(--secondary-text-color);
}

.contacts .link:hover,
.contacts .link:focus {
    color: var(--accent-color);
}

.hero {
    background-color: #2F303A;
}
.hero-title {
    color: var(--background-white-color);
}
.description {
    color: var(--secondary-text-color);
}

.footer {
    background-color: #2F303A;
}
.footer .studio {
    color:var(--background-white-color);
}
.address .link {
    font-style: normal;
    color: var(--background-white-color);
}
.footer .contacts {
    color: rgba(255, 255, 255, 0.6);
}
??????
.footer .logo {
    color: var(--accent-color);
}